@font-face {
  font-family: "Century Gothic Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Regular"), url("../fonts/GOTHIC.woff") format("woff");
}

@font-face {
  font-family: "Century Gothic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Italic"), url("../fonts/GOTHICI.woff") format("woff");
}

@font-face {
  font-family: "Century Gothic Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Bold"), url("../fonts/GOTHICB.woff") format("woff");
}

@font-face {
  font-family: "Century Gothic Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Bold Italic"), url("../fonts/GOTHICBI.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Century Gothic Regular", sans-serif !important;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
  font-family: "Century Gothic Regular", sans-serif !important;
}

.uk-text-bold {
  font-family: "Century Gothic Bold", sans-serif !important;
  letter-spacing: 2px;
}

.modile-nav {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.page-title {
  margin-left: 130px;
}

.page-content {
  width: 85%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px 24px;
  min-height: 370px;
  max-height: 370px;
  overflow-y: auto;
}

@media (min-width: 960px) {
  .page-content {
    width: 70%;
  }
}

.spotify-follow-badge {
  background: #2ebd59;
  padding: 14px 10px;
  text-shadow: none;
  line-height: 18px;
}

.spotify-follow-badge:hover {
  text-decoration: none;
}

.spotify-follow-badge i {
  font-size: 18px;
}

.spotify-follow-badge span {
  padding: 0px 12px;
  margin-top: 2px;
}

.social-header {
  position: absolute;
  right: 44px;
  top: 22px;
  font-size: 22px;
}

.social-header-spotify {
  position: absolute;
  right: 44px;
  top: 22px;
  font-size: 22px;
}

.social-header-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 18px;
  font-size: 22px;
  height: 44px;
}

.social-header .uk-iconnav li {
  padding-left: 30px;
}

.social-header .uk-iconnav li a {
  color: #fff;
  text-shadow: -2px 1px 2px hsla(0, 0%, 0%, 0.2), 0 0 18px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.6);
}

.social-header-mobile .uk-iconnav li a i {
  vertical-align: middle;
}

.social-header-mobile .uk-iconnav li {
  padding-left: 30px;
}

.social-header-mobile .uk-iconnav li a {
  color: #fff;
  text-shadow: -2px 1px 2px hsla(0, 0%, 0%, 0.2), 0 0 18px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.6);
}

.social-header .uk-iconnav li a i {
  vertical-align: middle;
}

.navbar-container-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}

.navbar-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
}

.navbar-menu-label {
  position: absolute;
  top: 0;
  margin: 10px 0px 20px 0;
}

.nav-menu-open > svg > rect:last-child,
.nav-menu-open > svg > rect:nth-child(2) {
  width: 16px;
}

.navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
}

@media (min-width: 568px) and (max-width: 1024px) and (orientation: landscape) {
  .navbar-container {
    position: absolute;
    bottom: 0;
  }
}

.navbar-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 -15px;
}

.navbar-list-item {
  margin: 18px;
  padding: 6px;
  font-size: 16px;
  text-shadow: -2px 1px 2px hsla(0, 0%, 0%, 0.2), 0 0 18px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.6);
}

.navbar-list-item {
  transition: 0.3s;
  cursor: pointer;
}

.navbar-list-item:hover {
  text-decoration: line-through;
}

.album-promo-text {
  width: 205px;
  font-weight: 600;
  color: #fff;
  /* margin: 14px 40px 48px; */
  text-shadow: -2px 1px 2px hsla(0, 0%, 0%, 0.8), 0 0 18px rgba(0, 0, 0, 0.9), 0 0 8px rgba(0, 0, 0, 0.9);
  border-top: 3px solid;
}

.c-cursor {
  pointer-events: none;
}
/* html:not(.is-desktop) .c-cursor {
  display: none;
} */

.c-cursor__pointer {
  height: 0.875rem;
  left: -0.4375rem;
  opacity: 0;
  position: fixed;
  top: -0.4375rem;
  width: 0.875rem;
  z-index: 9;
}
.c-cursor__pointer::before {
  background-color: rgb(240, 169, 17);
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.is-hover .c-cursor__pointer::before {
  opacity: 0.3;
  -webkit-transform: scale(3.5);
  transform: scale(3.5);
}

.c-magnetic span {
  display: inline-block;
  pointer-events: none;
}
