<div class="uk-background-cover uk-light uk-flex" uk-height-viewport style="background-image: url('img/home_img.jpg');">
  <img class="uk-width-1-3@s uk-position-large uk-position-center uk-visible@m" src="img/logo_home.png" />
  <div class="uk-width-1-6@s uk-position-medium uk-position-bottom-right uk-text-center uk-visible@m">
      <div class="album-promo">
          <img data-src="img/album-promo.png" width="300" alt="" uk-img>
      </div>
      <!-- <p class="album-promo-text uk-text-center">“ANTES Y DESPUÉS DE TÍ” YA DISPONIBLE!</p> -->
  </div>

  <img class="uk-position-large uk-position-center uk-hidden@m" style="width: 264px;" src="img/logo_home.png" />

  <!-- <img class="uk-width-1-6@s uk-position-large uk-position-bottom-right uk-visible@m" src="img/portada1.jpg" /> -->
  <!-- <img class="uk-width-1-3 uk-width-1-4@s uk-position-bottom-left uk-position-large uk-hidden@m" src="img/logo.png" /> -->
</div>