<div class="uk-background-cover uk-light uk-flex" uk-height-viewport style="background-image: url('<%=page.backgroundImage%>');">
  <h3 class="page-title uk-position-large uk-position-top-left uk-text-lowercase"><%=page.title%></h3>
  <img class="uk-width-1-3@s uk-position-medium uk-position-top-center uk-visible@m" src="../img/inline_logo.png" />
  <div class="page-content uk-position-medium uk-position-bottom-center">
      <%-partial('partials/recent-posts')%>
  </div>
</div>