<div class="social-header">
  <ul class="uk-iconnav">
    <li>
      <a href="#" class="uk-link-reset">
        <span class="uk-badge spotify-follow-badge">
          <i class="fab fa-spotify"></i>
          <span>FOLLOW</span>
        </span>
      </a>
    </li>
    <li><a href="https://www.facebook.com/EsMikeGarcia/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/esmikegarcia" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li><a href="https://www.instagram.com/esmikegarcia/" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>