<div class="social-header uk-visible@m">
  <ul class="uk-iconnav">
    <li>
      <iframe
        src="https://open.spotify.com/follow/1/?uri=spotify:artist:5FK9isHItaC3GaYIdNX18w&size=basic&theme=dark&show-count=0"
        width="92"
        height="28"
        scrolling="no"
        frameborder="0"
        style="border:none; overflow:hidden;"
        allowtransparency="true"
      ></iframe>
    </li>
    <li>
      <a href="https://www.facebook.com/EsMikeGarcia/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/esmikegarcia" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCOh8_7emR8SZhnh6qt41UuQ" target="_blank"><i class="fab fa-youtube"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/esmikegarcia/" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>
</div>

<div class="social-header-mobile uk-hidden@m">
  <iframe
    src="https://open.spotify.com/follow/1/?uri=spotify:artist:5FK9isHItaC3GaYIdNX18w&size=basic&theme=dark&show-count=0"
    width="92"
    height="28"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden;"
    allowtransparency="true"
  ></iframe>

  <ul class="uk-iconnav uk-position-right">
    <li>
      <a href="https://www.facebook.com/EsMikeGarcia/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/esmikegarcia" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCOh8_7emR8SZhnh6qt41UuQ" target="_blank"><i class="fab fa-youtube"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/esmikegarcia/" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>
</div>
